/********** Tag Selectors **********/
div {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 3rem;
}

h1 {
  font-size: 5.62rem;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  margin: 30px 0 30px 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
  margin: 30px auto 30px auto;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 25px auto 0 auto;
}

p {
  color: #40514E;
  margin: 0;
  line-height: 2rem;
}

a {
  color: #11999E;
  margin-top: 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
  margin: 50px auto 50px auto;
}

/********** Class Selectors **********/
.top-container {
  background-color: #EAF6F6;
  color: white;
  position: relative;
  padding: 50px 0 25px 0;
  margin: 0;
}

.middle-container {
  margin: 50px auto 50px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0 30px 0;
}

.web {
  font-weight: normal;
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 0;
}

.circular {
  border-radius: 100%;
}

.fullstack-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.teaching-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 25px auto 100px auto;
  width: 50%;
}

.l-align {
  text-align: left;
}

.profile {
  margin: 0;
}

.copywright {
  color: #EAF6F6;
}

.title-h2 {
  margin: 0;
}

.butn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #11999E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  font-family: Arial;
  color: #11999E;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/********** ID Selectors **********/
